body{
  margin: 0;
 padding: 0;

}
.container {
  display: flex;
  justify-content: flex-end; /* aligns links to the right */
  gap: 1rem;
  padding: 1rem;
}
.link{
 color: rgb(18, 6, 65);
 background-color: aliceblue;
 text-align: right;
    text-decoration: solid;
    display: flex;
    justify-content: flex-end;
}

.link:hover {
  filter: drop-shadow(0 0 4rem #ff091eaa);
  fill-opacity: initial;
}
.user-list {
  display: flex;
  margin: auto;
  list-style-type: none;
  gap:1rem;
  padding: 10px;
  justify-content: space-evenly;
}

